FIREBASE_SERVICE_ACCOUNT_PATH=
KYC_VENDOR_API_KEY=
KYC_VENDOR_BASE_URL=
FRONTEND_URL=http://localhost:5173
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=4a397ebbbcbb98
MAILTRAP_PASSWORD=72ec4a06bf0a23
